<!<!DOCTYPE html>
    <!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
    <!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
    <!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
    <!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
    <html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Edit Farms</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>

    <body>
        <form action="/farms/<%=farm._id %>?_method=PUT" method="post">
            <h1>Edit Farms</h1>
            <label for="Name">Farm Name</label>
            <input type="text" name="name" id="name" placeholder="Farm Name" value="<%= farm.name %>">
            <label for="city">City</label>
            <input type="text" name="city" id="city" placeholder="Farm city" value="<%= farm.city %>">
            <label for="email">Email</label>
            <input type="text" name="email" id="email" placeholder="Enter email" value="<%= farm.email %>">
            <button>Submit</button>
        </form>

        <a href="/farms/<%= farm._id %>">
            Back
        </a>

        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <script src="" async defer></script>
    </body>

    </html>